.controls {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 2rem 0;
}

.search {
  flex: 1;
  min-width: 250px;
}

.filter {
  width: 250px;
}


@media (max-width: 768px) {
  .controls {
    flex-direction: column;
  }

  .filter {
    width: 50%;
  }
}
