.borders {
    display: flex;
    align-items: start;
    gap: 2rem;
    padding-top: 4rem;
}

.borders h3 {
    margin: 0;
    color: var(--text-header);
    white-space: nowrap;
    flex-shrink: 0;
}

.links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.links a {
    text-decoration: none;
    color: var(--text-p);
    padding: 6px 12px;
    border-radius: 6px;
    background-color: var(--bg-el);
    transition: 0.2s;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.links a:hover {
    background-color: var(--el-hover);
    color: var(--text);
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.2);
}



@media (max-width: 768px) {
    .borders {
        display: flex;
        flex-direction: column;
    }
}