.card {
  display: block;
  background-color: var(--bg-el);
  color: var(--text);
  border-radius: 4px;
  overflow: hidden;

  text-decoration: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

.card:hover,
.card:focus {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  background-color: var(--el-hover);
}

p {
  margin: 0;
  padding: 0;
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  display: block;
}

.info {
  margin: 2rem 2rem 3rem 2rem;
}

.card h3 {
  font-size: 1.2rem;
}

.card p {
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
}

.card p b {
  font-weight: 600;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 4rem;
}