.filter {
    position: relative;
    width: 200px;
}

.filter-btn {
    width: 100%;
    padding: 0.75rem 1.5rem;
    background-color: var(--bg-el);
    color: var(--text-p);
    border: none;
    border-radius: 4px;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    font-size: 0.9rem;
    transition: all 0.2s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.filter-btn:hover {
    background-color: var(--el-hover);
}

.filter-list {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background-color: var(--bg-el);
    border-radius: 6px;
    list-style: none;
    padding: 0 0;
    margin: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.filter-list li {
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: var(--text);
    padding-left: 1.5rem;
}

.filter-list li:hover {
    background-color: var(--el-hover);
}

.arrow {
    font-size: 0.8rem;
}