.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-el);
    color: var(--text);
    padding: 0 6rem;
    margin-bottom: 3rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.header h1 {
    color: var(--text);
}

.header button {
    background: none;
    border: none;
    color: var(--text);
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {

    .header {
        padding: 0 2rem;
    }

    .header h1 {
    font-size: 1.2rem;
}
}