.search {
  width: 100%;
  max-width: 480px;

  padding: 0.75rem 1.25rem;

  font-size: 0.9rem;

  border-radius: 4px;
  border: none;

  outline: none;
  transition: all 0.2s ease;

  background-color: var(--bg-el);
  color: var(--text);
  height: 55px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.search::placeholder {
  color: var(--text-p);
}

.search:hover {
  background-color: var(--el-hover);
}

.search:focus {
  background-color: var(--el-hover);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}